#{extends 'main.html' /}
#{set title:'Broadcast Message' /}
#{greenscript.js "jquery-1.5.2.min.js " /}

#{if !amMaster} 
	<p>This only works on the master server</p>
#{/if}

<img src="@{'/public/images/broadcast.jpg'}" style="float:right"/>

#{if broadcast != null} 
	<p>sent broadcast:</p>
	<p>${broadcast}</p> 
#{/if}

Broadcast Message
<form action="@{Application.Broadcast()}" method="POST">
	<textarea id="msg" rows="5" cols="50" name="broadcast"></textarea>
	<input id="submit" type="submit" value="broadcast" />
</form>
<br/>

<p>Hey everyone! Sorry to interrupt, we are just doing a quick update, so SHCH will be out of commission for about 5 minutes.  Please come back soon!</p>

<script type="text/javascript">
	$(document).ready(function () {
		$("#submit").click(function () {
			return ($("#msg").val().length > 0 
						  && confirm("really really broadcast this to all online heroes?"));
		});
	});
</script>