#{extends 'main.html' /}

#{if isDev}
	<a href="@{Application.specrunner()}">Jasmine tests</a><br/>
#{/if}
	<a href="@{Application.broadcast()}">Broadcast</a><br/>


<p>
	#{list items:masterStats.keySet(), as:'stat'} 
		${masterStats.get(stat)} | ${stat} <br/>
	#{/list}
</p>

#{if admin == null}
	<p>You need to set up an admin user to view active</p>
	<script type="text/javascript">
			oApp = false;		
	</script>
#{/if}
#{else}
	<script type="text/javascript">
	    
			var oApp = {
				user_id: ${admin.user_id},
				alias: "${admin.alias}",
			  avatar: "${admin.avatar}",
			  home_url: "${homeUrl}"
			};
	</script>
	<ul id="user_list">
		<li id="user_count">Logging in....</li>
	</ul>
#{/else}

 <script type="text/javascript" src="public/javascripts/jquery-1.5.2.min.js"></script>
 <script type="text/javascript" src="public/javascripts/chat/jquery-jsonp.js"></script>
 <script type="text/javascript" src="public/javascripts/chat/chat.min.js"></script>
 <script type="text/javascript" src="public/javascripts/admin.js"></script>